* {
    font-family: 'Kanit';
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    user-select: none;
    transition: 0.5s;
}
header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-family: 'Kanit';
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    user-select: none;
    transition: 0.5s;
}
nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.nav-menu-button {
    display: none;
}
.logo {
    position: relative;
    /* border: 1px solid black; */
    width: 200px;
    right: 10px;
}
.nav-center {
    display: flex;
    position: relative;
    gap: 15px;
    font-weight: 600;
}
.nav-center a {
    padding: 10px 15px 10px 15px;
    color: black;
    text-decoration: none;
    /* border: 1px solid black; */
}
.nav-right {
    display: flex;
    align-items: center;
    position: relative;
    gap: 5px;
}
.nav-right a {
    text-decoration: none;
}

.nav-button {
    display: none;
}
.nav-res-t {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 5px;
    /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
}
body{
    font-family: 'Kanit', sans-serif;
font-family: 'Noto Sans Thai', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
  }


  .search {
    width: 20.25px;
    height: auto;
}

.cart {
    width: 30px;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
}

.cart-circle::before {
    content: "9+";
    color: white;
    font-size: 10px;
    display: flex;
    position: absolute;
    right: 140px;
    top:-3px;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    border-radius: 100px;
    background-color: rgba(255, 0, 0, 0.822);
    border: 2px solid rgb(245, 0, 0);

}
a {
    text-decoration: none;
    color: black;
}
.font {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

.THB {
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.nav-right a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(9, 171, 128, 0.676);
    border-radius: 20px;
}
.nav-center a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(9, 171, 128, 0.668);
    border-radius: 20px;
}
